.header{
  background-color: rgb(138, 10, 177);
  grid-area: header;
  text-align: center;
  color: white;
  font-size: large;
  text-transform: capitalize;
}
.aside{
  background-color: rgb(17, 17, 17);
  grid-area: aside;
  text-align: center;
  color: white;
  font-size: large;
  text-transform: capitalize;
  border: solid 1px rgb(102, 6, 131);
}

.content{
  background-color: rgb(70, 70, 70);
  grid-area: content;
  text-align: center;
  color: white;
  font-size: large;
  text-transform: capitalize;
}

.wrapper{
  max-width: 1200px;
  height: 100vh;
  display: grid;
  grid-template-areas: 
    "header header"
    "aside content"
  ;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr;
  gap: 10px;
  margin-inline: auto;
}